.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 15px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px;
}

.form h2 {
    font-size: 50px;
}

.form-input {
    width: 100%;
}